.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px;
    height: 400px;
    border: 8px solid #5c360d;
}

.square {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-size: contain;
}

.square.light {
    background-color: #b5f0b9;
}

.square.dark {
    background-color: #63b566;
}

.white-rook {
    background-image: url('/assets/chess-pieces/white-rook.png');
}

.white-knight {
    background-image: url('/assets/chess-pieces/white-knight.png');
}

.white-bishop {
    background-image: url('/assets/chess-pieces/white-bishop.png');
}

.white-queen {
    background-image: url('/assets/chess-pieces/white-queen.png');
}

.white-king {
    background-image: url('/assets/chess-pieces/white-king.png');
}

.white-pawn {
    background-image: url('/assets/chess-pieces/white-pawn.png');
}

.black-rook {
    background-image: url('/assets/chess-pieces/black-rook.png');
}

.black-knight {
    background-image: url('/assets/chess-pieces/black-knight.png');
}

.black-bishop {
    background-image: url('/assets/chess-pieces/black-bishop.png');
}

.black-queen {
    background-image: url('/assets/chess-pieces/black-queen.png');
}

.black-king {
    background-image: url('/assets/chess-pieces/black-king.png');
}

.black-pawn {
    background-image: url('/assets/chess-pieces/black-pawn.png');
}