.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.chess-board>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess-board .white {
    background-color: #b5f0b9;
}

.chess-board .black {
    background-color: #63b566;
}

.chess-board .piece {
    width: 50px;
    height: 50px;
    background-size: cover;
}

.chess-board .piece.ROOK-WHITE {
    background-image: url('/chess-pieces/white-rook.png');
}

.chess-board .piece.KNIGHT-WHITE {
    background-image: url('/chess-pieces/white-knight.png');
}

.chess-board .piece.BISHOP-WHITE {
    background-image: url('/chess-pieces/white-bishop.png');
}

.chess-board .piece.QUEEN-WHITE {
    background-image: url('/chess-pieces/white-queen.png');
}

.chess-board .piece.KING-WHITE {
    background-image: url('/chess-pieces/white-king.png');
}

.chess-board .piece.PAWN-WHITE {
    background-image: url('/chess-pieces/white-pawn.png');
}

.chess-board .piece.ROOK-BLACK {
    background-image: url('/chess-pieces/black-rook.png');
}

.chess-board .piece.KNIGHT-BLACK {
    background-image: url('/chess-pieces/black-knight.png');
}

.chess-board .piece.BISHOP-BLACK {
    background-image: url('/chess-pieces/black-bishop.png');
}

.chess-board .piece.QUEEN-BLACK {
    background-image: url('/chess-pieces/black-queen.png');
}

.chess-board .piece.KING-BLACK {
    background-image: url('/chess-pieces/black-king.png');
}

.chess-board .piece.PAWN-BLACK {
    background-image: url('/chess-pieces/black-pawn.png');
}