.promotion-component {
  position: relative;
  z-index: 2; //over the board
  transform: translateY(39%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 3px 3px 10px black;
  user-select: none;
}

.border {
  outline: 1px solid black;
  margin: 0;
  padding: 0;
}

.piece-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cross-icon {
  background: grayscale($color: #c9c7c7);
  cursor: pointer;
}

.cross-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}
