.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 5px solid #333;
  border-radius: 4px;

  margin: 20px;
  width: 490px;
  height: 490px;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chess-square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-square {
  background-color: rgb(222, 244, 203);
}

.black-square {
  background-color: rgb(38, 166, 64);
}

.highlight-square {
  background-color: #3f51b5;
}
.cdk-drag-placeholder {
  display: none;
}
.cdk-drop-list-dragging {
  cursor: grabbing;
}
// .example-custom-placeholder {
//   z-index: 102;
//   background: red;
//   /* border: dotted 3px #999; */
//   min-height: 60px;
//   transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
// }
