<div class="board-container">
  <div class="chess-board" cdkDropListGroup>
    <!-- Display the coordinates -->
    <svg viewBox="0 0 100 100" class="coordinates">
      <text x="0.75" y="3.5" class="coordinate-light">8</text>
      <text x="0.75" y="15.75" class="coordinate-dark">7</text>
      <text x="0.75" y="28.25" class="coordinate-light">6</text>
      <text x="0.75" y="40.75" class="coordinate-dark">5</text>
      <text x="0.75" y="53.25" class="coordinate-light">4</text>
      <text x="0.75" y="65.75" class="coordinate-dark">3</text>
      <text x="0.75" y="78.25" class="coordinate-light">2</text>
      <text x="0.75" y="90.75" class="coordinate-dark">1</text>
      <text x="10" y="99" class="coordinate-dark">a</text>
      <text x="22.5" y="99" class="coordinate-light">b</text>
      <text x="35" y="99" class="coordinate-dark">c</text>
      <text x="47.5" y="99" class="coordinate-light">d</text>
      <text x="60" y="99" class="coordinate-dark">e</text>
      <text x="72.5" y="99" class="coordinate-light">f</text>
      <text x="85" y="99" class="coordinate-dark">g</text>
      <text x="97.5" y="99" class="coordinate-light">h</text>
    </svg>
    <div *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]" class="chess-col">
      <div *ngFor="let row of [7, 6, 5, 4, 3, 2, 1, 0]" class="chess-square">
        <div
          class="chess-square"
          [ngClass]="getSquareClass(col, row)"
          cdkDropList
          [cdkDropListData]="{ y: row, x: col }"
          (cdkDropListDropped)="onDrop($event)">
          <app-chess-piece
            cdkDrag
            cdkDragBoundary=".chess-board"
            [cdkDragData]="{ y: row, x: col }"
            [pieceType]="chessBoard.getPiece(col, row)"
            (mousedown)="highlightAllowedMoves(col, row)">
          </app-chess-piece>
          <app-promotion
            [pieceColor]="row == 7 ? 'white' : 'black'"
            *ngIf="showPromotion(row, col)"></app-promotion>
        </div>
      </div>
    </div>
  </div>
</div>
