<div class="container">
  <div class="settings-form-group">
    <label class="form-label-label required" for="languages">Language : </label>
    <p-dropdown
      [options]="languages"
      [(ngModel)]="selectedLanguage"
      optionLabel="name"
      [showClear]="true"
      placeholder="Select a language">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedLanguage">
          <img
            [src]="
              'assets/flags/4x3/' + selectedLanguage.code.toLowerCase() + '.svg'
            "
            style="width: 18px" />
          <div>{{ selectedLanguage.name }}</div>
        </div>
      </ng-template>
      <ng-template let-language pTemplate="item">
        <div class="flex align-items-center gap-2">
          <img
            [src]="'assets/flags/4x3/' + language.code.toLowerCase() + '.svg'"
            style="width: 18px" />
          <div>{{ language.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>

    <div>
      <br />
      <p-button pRipple label="Submit" (click)="onSubmitLanguage()"></p-button>
      <p-toast></p-toast>
    </div>
  </div>
</div>
