<div class="board-container" cdkDropListGroup>
  <div class="chess-board">
    <div *ngFor="let col of [0, 1, 2, 3, 4, 5, 6, 7]" class="chess-col">
      <div *ngFor="let row of [0, 1, 2, 3, 4, 5, 6, 7]" class="chess-square">
        <div
          class="chess-square"
          [ngClass]="(col + row) % 2 === 0 ? 'white-square' : 'black-square'"
          cdkDropList
          [cdkDropListData]="{ row: row, col: col }"
          (cdkDropListDropped)="onDrop($event)">
          <app-chess-piece
            cdkDrag
            cdkDragBoundary=".chess-board"
            [cdkDragData]="{ row: row, col: col }"
            [pieceType]="chessBoard[row][col]">
          </app-chess-piece>
        </div>
      </div>
    </div>
  </div>
</div>
